@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Poppins:wght@500&family=REM:wght@300&family=Titillium+Web:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'REM', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1d102a;
}

.heading {
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 9px double white;
    padding: 2px 49px;
    border-radius: 26px;
    border-top: 9px double white;
    margin: 40px 0px 10px 0px;
    width: fit-content;
}

#about {
    margin: 120px 0px 40px 0px;

}

.pink {
    color: blueviolet;
}

.btn {
    margin-top: 19px;
    margin: 19px 5px 0px;
    padding: 4px 25px;
    border-radius: 20px;
    font-size: 17px;
    box-shadow: white 0.5px 0.5px 5px;
  }
  .btn:hover{
    background-color: rgb(1,18,68);
    color: white;
    box-shadow: white 2px 2px 5px;
  }
/* header part start  */
header::before {
    content: "";
    background: url('https://img.freepik.com/free-photo/abstract-dark-background-with-flowing-colouful-waves_1048-13124.jpg') repeat center center/cover;
    position: absolute;
    filter: blur(9px);
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    /* opacity: 0.7; */

}

.navbar ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar ul li {
    list-style: none;
    margin: 12px 6px;
    padding: 7px 6px;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.navbar ul li a:hover {
    color: rgb(192, 192, 72);
}

/* header part css completed  */


/* front part start  */
.first-section {
    display: flex;
    /* border: 1px solid white; */
    width: 90%;
    margin: 10px auto 70px;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sub-first-section {
    display: flex;
    width: 40%;
    height: 70vh;
    /* border: 1px solid white; */
    margin: 33px;
    color: white;
    font-size: 57px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.first-section:hover {
    transition: 1s;
    transform: scale(1.1);
}


.first-section img {
    height: 90%;
    width: 75%;
}


/* front page part completed  */

.second-section {
    background: #2a173e;
    display: flex;
    /* border: 1px solid white; */
    width: 90%;
    margin: 30px auto 80px;
    height: 72vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.sub-second-section {
    /* display: flex; */
    width: 40%;
    height: 60vh;
    /* border: 1px solid white; */
    margin: 33px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.second-section:hover {
    transition: 1s;
    transform: scale(1.1);
}

.sub-second-section img {
    height: 100%;
    width: 80%;
    border: 20px double white;
    border-radius: 9px;
    box-shadow: white 3px 8px 8px 7px;
}

.sub-second-section div {
    line-height: 35px;
}



/* third section start  */

.third-section {
    height: 99vh;
    width: 100%;
    background: #26113b;
    padding: 1px 35px;
    margin-top: 50px;

}

/* 
.third-section:hover
{
    transition: 1s;
    transform: scale(1.02);
} */


.third-section .vertical {
    height: fit-content;
    width: 4px;
    /* border: white 1px solid; */
    background: white;
    margin: 30px 30px 30px 35%;
}

.third-section .horizontal {
    width: 6px;
    height: 2px;
    background: white;
    margin: 140px 0px;
}

#first-horizontal {
    margin: 60px 0px;
}

.third-section .horizontal img {
    bottom: 16px;
    right: 95px;
    position: relative;
    height: 60px;
    width: 60px;
    margin-left: 66px;
    border-radius: 50%;
    border: 3px solid white;
}

.third-section .horizontal .details {
    color: white;
    width: 560px;
    height: fit-content;
    padding: 0px;
    position: relative;
    bottom: 90px;
    left: 90px;
}

.third-section .horizontal .details a {
    text-decoration: none;
    color: white;
}

.third-section .horizontal .details h2 {
    color: white;
    margin: 0px;
}

.third-section .horizontal .details p {
    color: white;
    margin: 0px;
}



/* forth section part  */

.fourth-section
{
    padding: 1px 35px;
    background-color: 1D1025;
    margin: 0px;
    height: 70vh;
}


.fourth-section .vertical {
    height: fit-content;
    width: 4px;
    /* border: white 1px solid; */
    background: white;
    margin: 30px 30px 30px 35%;
}

.fourth-section .horizontal {
    width: 6px;
    height: 2px;
    background: white;
    margin: 123px 0px;
}


.fourth-section .horizontal img {
    bottom: 16px;
    right: 84px;
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: 66px;
    border-radius: 50%;
    border: 3px solid white;
}

.fourth-section .horizontal .details {
    color: white;
    width: 560px;
    height: fit-content;
    padding: 0px;
    position: relative;
    bottom: 76px;
    left: 90px;
}

.fourth-section .horizontal .details a {
    text-decoration: none;
    color: white;
}

.fourth-section .horizontal .details h2 {
    color: white;
    margin: 0px;
}

.fourth-section .horizontal .details p {
    color: white;
    margin: 0px;
}

/* fourth section completed  */



/* fifth section started  */


.fifth-section
{
    background-color: #43394c;
    padding: 1px 23px;
    height: 50vh;

}
.fifth-section .skills-box
{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fifth-section .skills-box .skills
{
    padding: 10px;
    margin: 10px;
    text-align: center;

}

.fifth-section .skills-box img
{
    width: 85px;
    height: 75px;
}
#java
{
    width: 60px;
}
.fifth-section .skills-box h3
{
    color: white;
}


/* fifth section code completed  */



/* sixth section code started  */

.sixth-section
{
    background-color: #1a0b27;
    padding: 1px 23px;
    height: 89vh;
}
.sixth-section .form-box
{
    text-align: center;
    margin: 40px auto;
    
}
.sixth-section .form-box input
{
    width: 500px;
    height: 50px;
    margin: 0px 50px;
    padding: 0px 20px;
    background:none;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.sixth-section .form-box textarea
{
    width: 77%;

    margin: 20px 50px;
    padding: 0px 20px;
    background:none;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    border-radius: 10px;
}
footer{
    background-color: white;
    text-align: center;
    padding: 10px 0px;
}



/* responsiveness code  */

@media (max-width:400px) {
    .sub-first-section {
        width: 96%;
        height: 32vh;
        margin: 33px;
        font-size: 33px;
        padding: 4px;
    }

.first-section img {
    height: 100%;
    width: 94%;
}
.second-section:hover {
    transition: 1s;
    transform: none;
}

.second-section
{
    height: 125vh;
}
#kingphoto
{
    height: 40vh;
}
.sub-second-section {
    width: 81%;
    height: 65vh;
    /* border: 1px solid white; */
    margin: 17px;
    font-size: 17px;
    padding: 4px;
}
.sub-second-section img {
    height: 90%;
}


.second-section :nth-child(1) {
    order: 2;
}

.second-section :nth-child(2) {
    order: 1;
}


.third-section {
    height: 107vh;
    width: 100%;
    padding: 1px 35px;
    margin-top: 50px;
}

.third-section .vertical {
    width: 4px;
    margin: 30px 30px 46px 9%;
}


.third-section .horizontal {
    margin: 176px 1px;
}
.third-section .horizontal .details {
    width: 208px;
    padding: 0px;
    bottom: 90px;
    left: 60px;
}
.fourth-section {
    padding: 1px 35px;
   
    margin: 0px;
    height: 90vh;
}

.fourth-section .horizontal {
  

    margin: 200px 0px;
}


.fourth-section .vertical {

    width: 4px;
    /* border: white 1px solid; */
 
    margin: 30px 30px 30px 3%;
}


.fourth-section .horizontal .details {

    width: 186px;

    

    bottom: 76px;
    left: 90px;
}
.fifth-section {
 
    height: 90vh;
}

.sixth-section .form-box input {
    width: 258px
}
}